body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

:root {
  --color: #757575;
  --colot-text: #212121;
  --color-hover: #2196f3;
  --background: #2f303a;
  --text-text: #ffffff;
  --background-team: #f5f4fa;
  --icon: #afb1b8;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list-no-style {
  list-style: none;
  display: flex;
}

.list-no-style-nav .item + .item {
  margin-left: 50px;
}

.header a:hover,
.header a:focus,
.header a:active {
  color: var(--color-hover);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list-nav {
  display: flex;
  align-items: center;
}

.list-no-style-nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.WebStudio {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-hover);
  text-decoration: none;
  font-family: Raleway;
  display: block;
  margin-right: 93px;
  transition-duration: 250ms;
}

.studio {
  position: relative;
  color: var(--color-hover);
  font-weight: 500;
  text-decoration: none;
}

.portfolio {
  position: relative;
  color: var(--colot-text);
  font-weight: 500;
  text-decoration: none;
}
.contact {
  position: relative;
  color: var(--colot-text);
  font-weight: 500;
  text-decoration: none;
}

.studio:hover .border,
.studio:focus .border {
  opacity: 1;
}

.portfolio:hover .border,
.portfolio:focus .border {
  opacity: 1;
}

.contact:hover .border,
.contact:focus .border {
  opacity: 1;
}

.border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: var(--color-hover);
  opacity: 0;
  transition-duration: 250ms;
}

.studio,
.portfolio,
.contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
}

.mailto {
  position: relative;
  list-style: none;
  color: var(--color);
  fill: var(--color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
}

.mailto:hover .border,
.mailto:focus .border {
  opacity: 1;
}

.envelope {
  margin-right: 10px;
}

.Vector {
  margin-right: 10px;
}

.mailtel .mailto {
  display: flex;
  flex-direction: row-reverse;
}

.mailtel .tel {
  display: flex;
  flex-direction: row-reverse;
}

.tel {
  position: relative;
  list-style: none;
  color: var(--color);
  fill: var(--color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
}

.tel:hover .border,
.tel:focus .border {
  opacity: 1;
}

.mailtel .mailto .tel {
  list-style: none;
  color: var(--color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.mailtel {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mailtel .item + .item {
  padding-left: 50px;
}

.mailtel a:hover,
.mailtel a:focus {
  color: var(--color-hover);
  fill: var(--color-hover);
}

.effect {
  background-color: var(--background);
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
  padding-top: 200px;
  display: flex;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/Img.png);
  width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.effect-container {
  width: 696px;
  text-transform: uppercase;
}

.icon {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.business {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-text);
  margin-top: 0px;
  margin-bottom: 0px;
}
.button {
  border: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--color-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  outline: none;
  color: var(--text-text);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 0;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 1000ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop .modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.modal-close-btn {
  outline: none;
  padding: 0;
}

.backdrop .modal .modal-close-btn {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.task {
  display: none;
  padding-top: 94px;
  padding-bottom: 94px;
}

.tasks {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-no-style-tasks {
  list-style: none;
  display: flex;
  width: 1170px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.tasks-heading {
  width: 270px;
}

.tasks h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--colot-text);
  margin: 0;
}

.tasks p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color);
  margin-top: 10px;
  margin-bottom: 0;
}

.img-list {
  padding-bottom: 94px;
}

.img {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--colot-text);
  margin: 0px;
}

.list-no-style-img {
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  padding: 0px;
}

.thumb {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.thumb-label {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.team {
  background-color: var(--background-team);
  padding: 94px 0;
  text-align: center;
}

.list-no-style-team {
  list-style: none;
  display: flex;
  padding: 0px;
  justify-content: space-between;
  margin: 50px 0 0 0;
}

.img-team {
  width: 270px;
  background: var(--text-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.img-container {
  padding: 30px 32px 30px 32px;
}

.networks {
  list-style: none;
  display: flex;
  width: 206px;
  height: 44px;
  padding: 0;
  justify-content: space-between;
  margin: 16px 0 0 0;
}

.networks li {
  width: 44px;
  height: 44px;
}

.networks a:hover,
.networks a:focus {
  fill: var(--text-text);
  background-color: var(--color-hover);
  border-radius: 25px;
}

.instagram {
  display: flex;
  width: 100%;
  height: 100%;
  fill: var(--icon);
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  transition-duration: 250ms;
}

.icon-instagram {
  width: 20px;
  height: 20px;
}

.twitter {
  display: flex;
  width: 100%;
  height: 100%;
  fill: var(--icon);
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  transition-duration: 250ms;
}

.icon-twitter {
  width: 20px;
  height: 20px;
}

.facebook {
  display: flex;
  width: 100%;
  height: 100%;
  fill: var(--icon);
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  transition-duration: 250ms;
}

.icon-facebook {
  width: 20px;
  height: 20px;
}

.linkedin {
  display: flex;
  width: 100%;
  height: 100%;
  fill: var(--icon);
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  transition-duration: 250ms;
}

.icon-linkedin {
  width: 20px;
  height: 20px;
}

.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--colot-text);
  margin: 0px;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--colot-text);
  margin: 0 0 10px 0;
}
.team p {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color);
  margin: 0;
  padding: 0;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
  width: 1170px;
}

.clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
}

.clients-company {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 50px 0 0 0;
}

.clients-company li {
  width: 170px;
  height: 90px;
}

.logo {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: var(--icon);
  transition-duration: 250ms;
}

.clients-company a:hover,
.clients-company a:focus {
  fill: var(--color-hover);
  border: 1px solid var(--color-hover);
}

.icon-logo1 {
  width: 44px;
  height: 49px;
}

.icon-logo2 {
  width: 40px;
  height: 52px;
}

.icon-logo3 {
  width: 41px;
  height: 43px;
}

.icon-logo4 {
  width: 80px;
  height: 42px;
}

.icon-logo5 {
  width: 59px;
  height: 47px;
}

.icon-logo6 {
  width: 88px;
  height: 45px;
}

.footer {
  background: var(--background);
  padding: 60px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.social {
  margin-left: 70px;
}

.social h3 {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.footer-instagram {
  display: flex;
  width: 100%;
  height: 100%;
  fill: var(--text-text);
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
}

.footer-twitter {
  display: flex;
  width: 100%;
  height: 100%;
  fill: var(--text-text);
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
}

.footer-facebook {
  display: flex;
  width: 100%;
  height: 100%;
  fill: var(--text-text);
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
}

.footer-linkedin {
  display: flex;
  width: 100%;
  height: 100%;
  fill: var(--text-text);
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
}

.WebStudios {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-hover);
  text-decoration: none;
  font-family: Raleway;
  display: block;
  margin-bottom: 20px;
}

.mailtel-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  padding: 0px;
}

.mail {
  margin: 9px 0 9px 0;
}

.mailtel-a {
  color: var(--color);
  text-decoration: none;
  display: block;
  transition-duration: 250ms;
}

.mailtel-b {
  color: var(--color);
  text-decoration: none;
  display: block;
  transition-duration: 250ms;
}

.footer address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-text);
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  color: var(--color-hover);
}

.Studio {
  color: var(--text-text);
}

.Studio- {
  color: var(--colot-text);
}

.studioo,
.portfolioo,
.contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
}

.list-no-style-nav- {
  list-style: none;
  display: flex;
  padding: 0;
  margin-right: 331px;
  margin-left: 93px;
}

.portfolioo {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-hover);
  font-weight: 500;
  text-decoration: none;
}

.portfolioo:hover .border,
.portfolioo:focus .border {
  opacity: 1;
}

.studioo {
  position: relative;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--colot-text);
  font-weight: 500;
  text-decoration: none;
}

.studioo:hover .border,
.studioo:focus .border {
  opacity: 1;
}

.portfolio-section {
  padding: 94px 0;
}

.works {
  display: none;
}
.list-no-style-button {
  justify-content: center;
  margin: 0 0 50px 0;
  list-style: none;
  display: flex;
  padding: 0;
}

button:hover,
button:focus,
button:active {
  background-color: var(--color-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--text-text);
}

.list-button {
  margin-right: 8px;
}

.button-type-a {
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  border: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  color: var(--colot-text);
  background-color: var(--background-team);
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 250ms;
}

.button-type-b {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  border: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  color: var(--colot-text);
  background-color: var(--background-team);
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 250ms;
}

.button-type-c {
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  border: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  color: var(--colot-text);
  background-color: var(--background-team);
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 250ms;
}

.button-type-d {
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
  border: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  color: var(--colot-text);
  background-color: var(--background-team);
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 250ms;
}

.button-type-e {
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
  border: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  color: var(--colot-text);
  background-color: var(--background-team);
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 250ms;
}

.work {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0;
}

.work :nth-child(3n) {
  margin-right: 0;
}

.list-no-style-work {
  list-style: none;
  display: flex;
  width: 370px;
  outline: 1px solid #eeeeee;
  margin-bottom: 30px;
  margin-right: 30px;
}

.list-no-style-work a:hover,
.list-no-style-work a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: transform 250ms;
}

.work a {
  text-decoration: none;
}

.thumb-img {
  position: relative;
  overflow: hidden;
}

.thumb-img:hover .work-img,
.thumb-img:focus .work-img {
  transform: translatey(0);
}

.work-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition-duration: 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-img .thumb-work {
  margin: 0;
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--text-text);
}

.work-img-container {
  padding: 20px 0 20px 24px;
}

.work h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--colot-text);
  margin: 0px 0px 4px 0;
}

.work p {
  font-size: 16px;
  line-height: 1.87;

  color: var(--color);
  margin: 0px 0px 4px 0;
  padding: 0;
}
